# Configurações de Banco de Dados
DB_IMAGE_VERSION=insira_a_imagem_do_banco_aqui
DB_USER=admin
DB_PASSWORD=senha_forte_aqui
DB_NAME=sischave
DB_PORT_LOCAL=5432
DB_PORT_CONTAINER=5432

# Configurações da API (Backend)
API_PORT=8000
SECRET_KEY=chave_criptografica_para_geracao_de_token_jwt

# Configurações do Cliente (Frontend)
WEB_PORT=3000